// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

header {
    li > .navbar-section,
    li > .expandable-navbar-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.jumbotron{
  input{
    border-radius: 10px;
  }
}

.nav-item {
  font-size: var(--bs-font-size-md);
}

.modal-dialog{
  max-width: 800px;
}