// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 60px;
  --ds-header-logo-height-xxs: 30px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  --ds-banner-background-gradient-width: 300px;
  --ds-cic-blue: #{$cic-blue};
  --ds-cic-skyblue: #{$cic-skyblue};
  --ds-home-news-link-color: #{$green};
  --ds-home-news-link-hover-color: #{darken($green, 15%)};
  --ds-cic-gray: #6b6b6b;
}