<footer id="cic-footer">
    <div class="container">

        <div class="row">
            <div class="cic-footer-section col-md-6">
                <div>
                    <img src="assets/cicba/images/cic_footer.png" [attr.alt]="'menu.header.image.logo' | translate"/>    
                </div>
                <hr/>
                <div id="powered-by">
                    <img src="assets/cicba/images/prebi_sedici_footer.png" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <img src="assets/cicba/images/DSpace_logo_17_sm.png" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <img src="assets/cicba/images/Open_Access_logo_PLoS_transparent.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                </div>
            </div>
            <div class="cic-footer-section col-md-3">
                <p><i class="fa fa-building" aria-hidden="true"></i> SEDE CENTRAL - LA PLATA<br><i class="fa fa-home" aria-hidden="true"></i> Calle 526 e/ 10 y 11 – (1900)<br><i class="fa fa-phone-alt" aria-hidden="true"></i> <a href="tel:(221) 4217374">(221) 4217374</a><br><i class="fa fa-phone-alt" aria-hidden="true"></i> <a href="tel:(221) 4823795">(221) 4823795</a><br><i class="fa fa-clock" aria-hidden="true"></i>&nbsp;08.00 hs a 19.00 hs</p>
            </div>
            <div class="cic-footer-section col-md-3">
                <p><i class="fa fa-building" aria-hidden="true"></i> SEDE BAHÍA BLANCA<br><i class="fa fa-home" aria-hidden="true"></i> Calle Ciudad de Cali 320 – (8000). Universidad Provincial del Sudoeste (UPSO)<br><i class="fa fa-phone-alt" aria-hidden="true"></i> <a href="tel:(291) 459 2550">(291) 459 2550</a>, interno 147<br><i class="fa fa-clock" aria-hidden="true"></i>&nbsp;10.00 h a 14.00 h<br><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:delegacion.bahia@www.cic.gba.gob.ar"> delegacion.bahia@cic.gba.gob.ar</a></p>
            </div>
        </div>
    </div>
</footer>
