<footer id="cic-footer" class="row text-center">
    <div class="cic-footer-section col-md-3">
        <a href="http://sedici.unlp.edu.ar" target="_blank">
            <img alt="SEDICI" src="assets/cicba/images//logo_sedici_footer.png" />
        </a>
    </div>
    <div class="cic-footer-section col-md-6">
        <address>
            <strong>Comisión de Investigaciones Científicas</strong>
            <br />Calle 526 entre 10 y 11
            <br/>
            CP: 1900 - La Plata - Buenos Aires - Argentina
            <br />
            <a href="mailto:#">repositorio@cic.gba.gob.ar</a>
            <br />
            <abbr title="Phone">Telefono</abbr>
            +54 (0221) 423 6696/6677 (int. 141) (CIC-DIGITAL)
            <br/>
            <abbr title="Phone">Telefono</abbr>
            +54 (0221) 421-7374 / 482-3795 (CIC-Central)
        </address>
    </div>
    <div class="cic-footer-section col-md-3">
        <a href="http://www.cic.gba.gob.ar" target="_blank">
            <img alt="CIC" src="assets/cicba/images/logo_cic_footer.png" />
        </a>
    </div>
</footer>
