<ds-themed-home-news></ds-themed-home-news>
<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <div class="home-main">
    <div class="repository-info">
      <div>
        <p><strong>CIC-Digital</strong> es el Repositorio Institucional de la <strong>Comisión de Investigaciones Científicas de la Provincia de Buenos Aires</strong>, creado con el fin de preservar y dejar accesible en abierto toda la producción científico-tecnológica generada en el ámbito de las instituciones CIC. <a href="/page/que-es-cic-digital_es">Leer más</a></p>
      </div>
    </div>
    <div class="upload-info">
      <aside class="aside">
        <div>
          <a href="/mydspace"><img src="assets/cicba/images/subir_material.svg" [attr.alt]="'menu.home.image.upload_material' | translate"/></a>
          <p>Si sos miembro de la <strong>Comisión de Investigaciones Científicas (CIC)</strong> o trabajás en alguno de sus centros o centros asociados, te invitamos a depositar tus publicaciones y datos de investigación.</p>
        </div>
        <h5>¿Por qué usar CIC-DIGITAL?</h5>
        <ul>
          <li><strong>Impacto</strong> - La visibilidad que otorga el repositorio permite una gran difusión y reuso de las obras, lo que resulta en mayor impacto de la producción para los autores y la institución.</li>
          <li><strong>Difusión rápida y efectiva</strong> - El repositorio expone las obras de forma interoperable para que se distribuyan  rápidamente hacia catálogos internacionales y buscadores web.</li>
          <li><strong>Citación</strong> - A cada recurso se le asigna un identificador persistente, es decir, un código que no cambia a través del tiempo, para que sean citables y rastreables de forma adecuada y unívoca.</li>
          <li><strong>Acceso universal</strong> - El repositorio preservará su obra a largo plazo, garantizando siempre el acceso libre e irrestricto para toda la sociedad.</li>
          <li><strong>Cumplimiento con la Ley 26.899</strong> - Que obliga a toda persona, cuya actividad de investigación sea financiada con fondos públicos, a depositar su producción científico-tecnológica en un repositorio digital de acceso abierto.</li>
        </ul>
      </aside>
    </div>
    <div class="last-items-section">
      <ds-last-accessioned-items></ds-last-accessioned-items>
    </div>
  </div>
</div>
