<div class="container">
    <h2>{{ 'info.how-to-contribute.title' | translate }}</h2>
    <p>Si usted es investigador, becario, personal de apoyo de la CIC o lo ha sido en el pasado, puede contribuir con sus obras al repositorio CIC-DIGITAL mediante la realización de un simple procedimiento denominado auto-archivo. El mismo puede hacerse desde cualquier lugar con acceso a internet y permite que usted envíe el material en digital. Para ello, debe seguir los siguientes pasos:</p>
    <ol>
        <li>Iniciar sesión en el sitio (si aún no es usuario, puede registrarse <a href="/login">aquí</a>).</li>
        <li>Acceder a la sección de <a href="/mydspace">"Aportar Material"</a>. Una vez allí, el sistema lo guiará por una serie de sencillos pasos.</li>
        <li>Completar un formulario con los datos de la obra a agregar.</li>
        <li>Elegir  la licencia de uso pertinente.</li>
    </ol>
    <p>Una vez que CIC-DIGITAL recibe el material luego de un breve chequeo, será publicado en el repositorio y ud. será debidamente notificado.</p>
    <p>En el caso de artículos de revista, Ud. puede revisar las políticas editoriales y los permisos de reproducción en <a target="_blank" href="http://www.sherpa.ac.uk/romeo/index.php?la=es">SHERPA/RoMEO</a>. Recuerde subir todas las versiones del trabajo con las que cuente y el material adicional que considere necesario (pósters, presentaciones, etc.) Si la revista presenta restricciones, el personal de CIC Digital se ocupará de realizar el embargo necesario para que la versión del editor no sea publicada antes de lo que lo permite la ley.</p>
</div>