:host {
  .simple-view-element {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: baseline;
  }

  .simple-view-element-header {
    font-weight: bold;
    flex-shrink: 0;
  }

  .inline-label {
    flex-direction: column;
    gap: 0px;
  }

  .simple-view-element-body {
    display: flex;
    gap: 0.3em;
    flex-wrap: wrap;
  }

}
