#downloadsTitle {
    color: var(--ds-cic-blue);
}

hr {
    margin-top: 0;
}

::ng-deep .file-section {
    a {
        color: inherit !important;
        text-decoration: none;
        display: flex;
        margin-bottom: 1em;
        gap: 1em;
        align-items: center;
    }
    :hover .file-full-name {
        filter: brightness(0.1);
    }

    :hover .download-button {
        filter: brightness(0.9);
    }

    .download-button {
        border-radius: 100%;
        background-color: var(--ds-cic-download-button);
        color: white;
        padding: 0.2em 0.5em;
        font-size: 1.2em;
        max-width: 100%
    }

    .file-full-name span {
        display: block;
    }

    .file-name {
        font-weight: bold;
    }
}
