#downloadsTitle {
    color: var(--ds-cic-blue);
}

hr {
    margin-top: 0;
}

::ng-deep .file-section {
    a {
        color: inherit !important;
        text-decoration: none;
        display: flex;
        margin-bottom: 1em;
        gap: 1em;
    }
    :hover .file-name {
        filter: brightness(0.1);
    }

    .download-button {
        border-radius: 100%;
        background-color: var(--ds-home-news-link-color);
        color: white;
        padding: 0.1em 0.4em;
        font-size: 1.2em;
        max-width: 100%
    }
    :hover .download-button {
        background-color: var(--ds-home-news-link-hover-color);
    }

    .download-btn {
        background-color: var(--ds-home-news-link-color);
        border: none;
        color: white;
        padding: 0.3em;
        cursor: pointer;
        i {
            color: white;
        }
    }
    .download-btn:hover {
        background-color: var(--ds-home-news-link-hover-color);
    }
}
