.setting-option {
  border: 1px solid var(--bs-light);
}

#order-result-by {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  span {
    white-space: nowrap;
  }
}