<div class="background">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="row align-items-center">
        <div class="col-lg-7 col-sm-12">
          <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate">
          </ds-search-form>
          <ul class="menu list-inline">
            <li class="list-navigation-item"><a href="/search?spc.sf=dc.date.accessioned&spc.sd=DESC&spc.page=1"><i class="fa fa-book"></i> {{'home.navigation.publications' | translate}}</a></li>
            <li class="list-navigation-item"><a href="/handle/11746/3"><i class="fa fa-landmark"></i> {{'home.navigation.cicOrganizations' | translate}}</a></li>
            <li class="list-navigation-item"><a href="/community-list"><i class="fa fa-sitemap"></i> {{'home.navigation.communities' | translate}}</a></li>
            <li class="list-navigation-item"><a href="/browse/author"><i class="fa fa-male"></i> {{'home.navigation.authors' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-lg-5 d-none d-lg-block p-0">
          <img src="assets/cicba/images/home_image.png" [attr.alt]="'menu.home.image.logo' | translate"/>
        </div>
      </div>
    </div>
  </div>
</div>
