:host {
    display: block;
    margin-top: calc(var(--ds-content-spacing) * -1);

    div.background {
      color: white;
      background-color: var(--ds-cic-blue);
      position: relative;
      background-size: cover;

      small.credits {
        a {
          color: inherit;
        }

        opacity: 0.3;
        position: absolute;
        right: var(--bs-spacer);
        bottom: 0;
      }
    }

    .jumbotron {
      background-color: transparent;
      @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        height: 250px;
        padding-top: 0;
      }
    }

    .jumbotron img {
      width: 100%;
      object-fit: cover;
      height: 280px;
    }

    a {
      color: var(--ds-home-news-link-color);

      @include hover {
        color: var(--ds-home-news-link-hover-color);
      }
    }

    .menu {
      display: flex;
      justify-content: space-around;
      margin: 0;
      font-size: 1.2em;
      @media only screen and (max-width: map-get($grid-breakpoints, sm)){
        flex-wrap: wrap;
      }
    }

    .list-navigation-item {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 20%;
      @media only screen and (min-width: map-get($grid-breakpoints, md)){
        flex-basis: auto;
      }
    }

    .menu a {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 1em;
      color: white;
      i {
        font-size: 1.5em;
      }
    }

  }
