<div class="background">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="row align-items-center">
        <div class="col-lg-7 col-sm-12">
          <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="placeholder$ | async">
          </ds-search-form>
          <div class="row justify-content-center menu">
            <div class="col-md-3 col-sm-4 col-6 text-center">
              <a href="/search?spc.sf=dc.date.accessioned&spc.sd=DESC&spc.page=1">
                <i class="fa fa-book mb-2"></i>
                {{'home.navigation.publications' | translate}}
              </a>
            </div>
            <div class="col-md-3 col-sm-4 col-6 text-center">
              <a href="/browse/author">
                <i class="fa fa-male mb-2"></i>
                {{'home.navigation.authors' | translate}}
              </a>
            </div>
            <div class="col-md-3 col-sm-4 col-6 text-center">
              <a href="/handle/11746/3">
                  <i class="fa fa-landmark mb-2"></i>
                  {{ 'home.navigation.cicOrganizations' | translate }}
              </a>
            </div>
            <div class="col-md-3 col-sm-4 col-6 text-center">
              <a href="/community-list">
                <i class="fa fa-sitemap mb-2"></i>
                {{'home.navigation.communities' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 d-none d-lg-block p-0">
          <img src="assets/cicba/images/home_image.png" [attr.alt]="'menu.home.image.logo' | translate"/>
        </div>
      </div>
    </div>
  </div>
</div>
