:host {
    display: block;
    margin-top: calc(var(--ds-content-spacing) * -1);

    div.background {
      color: white;
      background-color: var(--ds-cic-blue);
      position: relative;
      background-size: cover;

      small.credits {
        a {
          color: inherit;
        }

        opacity: 0.3;
        position: absolute;
        right: var(--bs-spacer);
        bottom: 0;
      }
    }

    .jumbotron {
      background-color: transparent;
    }

    a {
      color: var(--ds-home-news-link-color);

      @include hover {
        color: var(--ds-home-news-link-hover-color);
      }
    }

    .menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
    }

    .menu a {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 1em;
      color: white;
    }

  }
