<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <p class="lead">
            CIC-Digital es el Repositorio Institucional de la Comisión de Investigaciones Científicas de la Provincia de
            Buenos Aires, creado con el fin de preservar y dejar accesible en abierto toda la producción
            científico-tecnológica generada en el ámbito de las instituciones CIC.
          </p>
        </div>
      </div>
      <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate">
      </ds-search-form>
    </div>
  </div>
</div>
