<ds-cic-metadata-field-wrapper [inlineLabel]="inlineLabel" [label]="label | translate">
@for (mdValue of mdValues; track mdValue; let last = $last) {
  @if (authorityUrl) {
    <a href="{{ mdValue.authority }}" target="_blank" class="dont-break-out">
      {{mdValue.value}}
      @if (!last) {
        <span [innerHTML]="separator"></span>
      }
    </a>
  }
  @if (!authorityUrl) {
    @if (!mdValue.value.startsWith('http')) {
      {{mdValue.value}}
      @if (!last) {
        <span [innerHTML]="separator"></span>
      }
    }
    @if (mdValue.value.startsWith('http')) {
      <a [href]="mdValue.value">
        {{mdValue.value}}
        @if (!last) {
          <span [innerHTML]="separator"></span>
        }
      </a>
    }
  }
}
</ds-cic-metadata-field-wrapper>
