<div class="container" *ngVar="(communityRD$ | async) as communityRD">
  @if (communityRD?.hasSucceeded) {
    <div class="community-page" @fadeInOut>
      @if (communityRD?.payload; as communityPayload) {
        <div>
          <!-- <ds-view-tracker [object]="communityPayload"></ds-view-tracker> -->
          <div class="d-flex flex-row border-bottom mb-4 pb-4">
            <header class="comcol-header w-100 me-auto">
              <div class="d-flex justify-content-between align-items-center">
                <!-- Community name -->
                <ds-comcol-page-header [name]="communityPayload.name"></ds-comcol-page-header>
                <!-- Community logo -->
                @if (logoRD$) {
                  <ds-comcol-page-logo id="com-logo" [logo]="(logoRD$ | async)?.payload" [alternateText]="'Community Logo'">
                  </ds-comcol-page-logo>
                }
              </div>
              <!-- Handle -->
              <ds-badge-metadata-values
                [mdValues]="communityPayload.allMetadata(['dc.identifier.uri'])"
                [badgeType]="'badge-identifier'"
                [badgeLabelType]="'bg-dark'"
                [badgeLabel]="'URI'">
              </ds-badge-metadata-values>
              <!-- Introductory text -->
              <ds-comcol-page-content [content]="communityPayload.introductoryText" [hasInnerHtml]="true">
              </ds-comcol-page-content>
              <!-- News -->
              <ds-comcol-page-content [content]="communityPayload.sidebarText" [hasInnerHtml]="true"
                [title]="'community.page.news'">
              </ds-comcol-page-content>
            </header>
            <div class="ps-2">
              <!--<ds-dso-page-edit-button *ngIf="isCommunityAdmin$ | async" [pageRoute]="communityPageRoute$ | async" [dso]="communityPayload" [tooltipMsg]="'community.page.edit'"></ds-dso-page-edit-button>-->
              <!-- <ds-dso-page-subscription-button [dso]="communityPayload"></ds-dso-page-subscription-button> -->
            </div>
          </div>
          <section class="comcol-page-browse-section">
            <!-- Browse-By Links -->
            @if (communityPayload.name !== 'Centros') {
              <ds-themed-comcol-page-browse-by [id]="communityPayload.id" [contentType]="communityPayload.type">
              </ds-themed-comcol-page-browse-by>
            }
            <ds-themed-community-page-sub-community-list [community]="communityPayload"></ds-themed-community-page-sub-community-list>
            <ds-themed-community-page-sub-collection-list [community]="communityPayload"></ds-themed-community-page-sub-collection-list>
          </section>
          @if (communityPayload.copyrightText) {
            <footer   class="border-top my-5 pt-4">
              <!-- Copyright -->
              <ds-comcol-page-content [content]="communityPayload.copyrightText" [hasInnerHtml]="true">
              </ds-comcol-page-content>
            </footer>
          }
        </div>
      }
    </div>
  }

  @if (communityRD?.hasFailed) {
    <ds-error message="{{'error.community' | translate}}"></ds-error>
  }
  @if (communityRD?.isLoading) {
    <ds-loading message="{{'loading.community' | translate}}"></ds-loading>
  }
</div>
