::ng-deep {

    .item-list-abstract .content {
        &:after{
        content: "Leer más";
        text-align: right;
        width: 80%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 20%);
        pointer-events: auto;
        cursor: pointer;
        color: var(--bs-cyan);
        }
    }

    .item-list-abstract .clamp-default-none .content {
        p {
            margin-bottom: 0;
        }
        &:after {
            content: "Leer menos";
        }
    }

}