@import '../../../../../../../styles/variables.scss';

.item-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1em;
}

.file-section {
    grid-column: 1/3;
    grid-row: 1;
}

.metadata-section {
    grid-column: 3/8;
    grid-row: 1;
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        grid-column: 1/11;
        grid-row: 1;
    }
}

.download-section {
    grid-column: 8/11;
    grid-row: 1/4;
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        grid-column: 1/11;
        grid-row: 2;
    }
}

.abstract-section {
    grid-column: 1/8;
    grid-row: 2;
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        grid-column: 1/11;
        grid-row: 3;
    }
    ::ng-deep .abstract-text {
        white-space: pre-wrap;
        text-align: justify;
    }
}

.item-cc-license {
    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
            margin: 0;
        }
    }
    margin-top: 1em;
}

::ng-deep {
    .item-content .simple-view-element {
        margin-bottom: 1em;
    }

    .item-page-title-field .simple-view-element {
        margin-bottom: 0 !important;
    }

    .simple-view-element .type-badge {
        margin-bottom: 0.5em;
    }

    .truncatable-abstract .content {
        &:after{
        content: "Leer más";
        text-align: right;
        width: 80%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 20%);
        pointer-events: auto;
        cursor: pointer;
        color: var(--bs-cyan);
        }
    }

    .truncatable-abstract .clamp-default-none .content {
        p {
            margin-bottom: 0;
        }
        &:after {
            content: "Leer menos";
        }
    }

    .file-section .thumbnail {
        max-width: 100% !important;
    }

    .item-identifiers div {
        display: inline-block;
        padding-right: 0.2em;
    }
}
