<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>
<div class="d-flex flex-column">
  <ds-type-badge [object]="object"></ds-type-badge>
  <ds-badge-metadata-values
    [mdValues]="object?.allMetadata(['dc.type'])"
    [badgeType]="'badge-info'">
  </ds-badge-metadata-values>
  <h4 class="item-page-title-field mr-auto">
    <ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values>
  </h4>
  <div class="pl-2">
    <ds-dso-page-version-button (newVersionEvent)="onCreateNewVersion()" [dso]="object"
                                [tooltipMsgCreate]="'item.page.version.create'"
                                [tooltipMsgHasDraft]="'item.page.version.hasDraft'"></ds-dso-page-version-button>
    <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-3">
    <ng-container *ngIf="!mediaViewer.image">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <ng-container *ngIf="mediaViewer.image">
      <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
    </ng-container>
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
<!--     <ds-item-page-date-field [item]="object"></ds-item-page-date-field> -->
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['journal.title'])"
      [label]="'item.page.journal-title'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['journal.identifier.issn'])"
      [label]="'item.page.journal-issn'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['journalvolume.identifier.name'])"
      [label]="'item.page.volume-title'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['dc.publisher'])"
      [label]="'item.page.publisher'">
    </ds-cic-metadata-values>
  </div>
  <div class="col-xs-12 col-md-6">
    <ds-cic-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dcterms.creator.author']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-cic-metadata-representation-list>
    <ds-cic-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dcterms.contributor.director']"
      [label]="'relationships.isDirectorOf' | translate">
    </ds-cic-metadata-representation-list>
    <ds-cic-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dcterms.creator.compilator']"
      [label]="'relationships.isDirectorOf' | translate">
    </ds-cic-metadata-representation-list>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['dcterms.issued'])"
      [label]="'item.page.date.issued'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values [inlineLabel]="false"
      [mdValues]="object?.allMetadata(['dcterms.abstract'])"
      [label]="'item.page.abstract'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['dcterms.description'])"
      [label]="'item.page.description'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['dcterms.subject.materia'])"
      [separator]="','"
      [label]="'item.page.dcterms.subject.materia'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['dc.identifier.citation'])"
      [label]="'item.page.citation'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['cic.thesis.grantor'])"
      [label]="'item.page.cic.thesis.grantor'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['cic.lugarDesarrollo'])"
      [label]="'item.page.cic.lugarDesarrollo'">
    </ds-cic-metadata-values>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['cic.institucionOrigen'])"
      [label]="'item.page.cic.institucionOrigen'">
    </ds-cic-metadata-values>
    <ds-badge-metadata-values
      [mdValues]="object?.allMetadata(['dcterms.subject'])"
      [badgeType]="'badge-secondary'">
    </ds-badge-metadata-values>
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>
    <ds-cic-metadata-values
      [mdValues]="object?.allMetadata(['dcterms.identifier.isbn'])"
      [label]="'isbn'">
    </ds-cic-metadata-values>
  </div>
</div>
