<ds-cic-metadata-field-wrapper [label]="label | translate" [inlineLabel]="false">
  @if (badgeUrl) {
    <a href="{{ badgeUrl }}" target="_blank">
      <ng-container *ngTemplateOutlet="badge"></ng-container>
    </a>
  } @else {
    @for (mdValue of mdValues; track mdValue) {
      <div class="badge-group" [ngClass]="{'group-inline-block': badgeLabel}">
        @if (badgeLabel) {
          <span class="badge badge-label" [ngClass]="badgeLabelType">
            {{badgeLabel}}
          </span>
        }
        <span class="badge {{badgeType}}" [ngClass]="{'badge-content': badgeLabel}">
          {{mdValue.value}}
          @if (copyToClipboardButton) {
            <span class="d-none" #elementContentToCopy>{{mdValue.value}}</span>
            <i id="copyButton-{{badgeLabel}}" class="copyButton fa fa-copy" aria-hidden="true" (click)="copyToClipboard(elementContentToCopy, 'copyButton-' + badgeLabel )"></i>
          }
        </span>
      </div>
    }
  }
</ds-cic-metadata-field-wrapper>

<ng-template #badge>
  @for (mdValue of mdValues; track mdValue) {
    <div class="badge-group" [ngClass]="{'group-inline-block': badgeLabel}">
      @if (badgeLabel) {
        <span class="badge badge-label" [ngClass]="badgeLabelType">
          {{badgeLabel}}
        </span>
      }
      <span class="badge {{badgeType}}" [ngClass]="{'badge-content': badgeLabel}">
        {{mdValue.value}}
        @if (copyToClipboardButton) {
          <span class="d-none" #elementContentToCopy>{{mdValue.value}}</span>
          <i id="copyButton-{{badgeLabel}}" class="copyButton fa fa-copy" aria-hidden="true" (click)="copyToClipboard(elementContentToCopy, 'copyButton-' + badgeLabel )"></i>
        }
      </span>
    </div>
  }
</ng-template>

