<ds-cic-metadata-field-wrapper [label]="label | translate" [inlineLabel]="false">
    <a href="{{ badgeUrl }}" target="_blank" *ngIf="badgeUrl else badge">
        <ng-container *ngTemplateOutlet="badge"></ng-container>
    </a>
</ds-cic-metadata-field-wrapper>

<ng-template #badge>
    <div class="bagde-group" [ngClass]="{'group-inline-block': badgeLabel}" *ngFor="let mdValue of mdValues">
        <span class="badge badge-label" [ngClass]="badgeLabelType" *ngIf="badgeLabel">
            {{badgeLabel}}
        </span><span class="badge {{badgeType}}" [ngClass]="{'badge-content': badgeLabel}">
            {{mdValue.value}}
        </span>
    </div>
</ng-template>