.badge-label {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    display: inline-block;
}

.badge-content {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    display: inline-block;
}

.bagde-group {
    display: inline-block;
}

.bagde-group::after {
    white-space: pre;
    content: " ";
}

.group-inline-block {
    display: inline-block;
}

::ng-deep .bagde-group span {
    padding: 0.4em;
    padding-right: 0.5em;
}
